$color-text: #444;
$breakpoint: 880px;

html {
  font-family: Arial, Helvetica, sans-serif;
  color: $color-text;
  font-size: 14px;
}

.d-f {
  display: flex;
  align-items: stretch;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

$grid-cols: 10;

@for $i from 1 through $grid-cols {
  $col-width: 100 / $grid-cols;

  .w-#{$i * $col-width} {
    width: $i * $col-width + 0%;
  }
}

$directions: ((top, t), (right, r), (bottom, b), (left, l));

@for $i from 0 through 5 {
  .p-#{$i} {
    padding: $i * 1rem;
  }

  @for $j from 1 through length($directions) {
    $d: nth($directions, $j);

    .p#{nth($d, 2)}-#{$i} {
      padding-#{nth($d, 1)}: $i * 1rem;
    }

    .m#{nth($d, 2)}-#{$i} {
      margin-#{nth($d, 1)}: $i * 1rem;
    }
  }
}

.m-auto {
  margin: auto;
}

.text {
  &-center {
    text-align: center;
  }
}

.timeline {
  border-left: 1px solid $color-text;
}

.timeline-section {
  position: relative;

  &--add {
    color: cornflowerblue;
    opacity: 0;
    transition: opacity 100ms linear;
  }

  &--remove {
    color: firebrick;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: top 100ms linear, opacity 100ms linear;
  }

  &__header:hover &--remove {
    top: -1em;
    opacity: 1;
  }
}

.timeline:hover .timeline-section--add {
  opacity: 1;
}

.timeline-entry {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: calc(-2.5rem - 1px);
    top: 1px;
    width: 1rem;
    height: 1rem;
    border: 1px solid $color-text;
    background: white;
    border-radius: 50%;
  }

  &--add {
    color: cornflowerblue;
    height: 0;
    opacity: 0;
    transition: height 100ms linear, opacity 100ms linear;
    &::before {
      display: none;
    }
  }

  &--remove {
    color: firebrick;
    position: absolute;
    font-size: small;
    font-weight: lighter;
    opacity: 0;
    top: 0;
    transition: top 100ms linear, opacity 100ms linear;
  }

  h4:hover &--remove {
    opacity: 1;
    top: -1em;
  }

  &__date {
    position: relative;
    input {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
    }

    &:hover {
      input {
        display: inline;
      }
    }
  }
}

.timeline-section:hover .timeline-entry--add {
  height: 1em;
  opacity: 1;
}

.rating {
  margin-left: -0.25rem;

  &__item {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    font-size: 0.75rem;
  }
}

.skill-rating {
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;

  &__name {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
}

.avatar {
  border-radius: 50%;
}

.page {
  width: 100%;
  position: relative;

  &--a4 {
    padding-top: 141.42%;
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media screen {
  .app {
    max-width: 800px;
    min-width: 800px;
    margin: auto;
  }
}

@media print {
  html {
    font-size: 14px;
  }
}
